* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: rgb(206, 153, 153);
    --color2: white;
    --color3: rgb(136, 68, 68);
    --color4: rgb(235, 206, 206);
    --color5: rgb(168, 118, 118);
    --color6: rgb(246, 232, 232);

    font-family: 'Poor Story', cursive;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color2);
    padding: 3vmin;
}

h2 {
    color: var(--color3);
    font-size: 4vw;
}

#container {
    width:100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 54vmin 1fr;
    align-items: center;
    background-color: var(--color2);
    gap: 3vw;
}

#side1, #side2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color1);
}

#userAdversary {
    display: none;
}

#AIAdversary {
    display: none;
}

#main {
    display: grid;
    grid-template: repeat(3, 18vmin) / repeat(3, 18vmin);
    background-color: var(--color1);
    gap: 5px;
}

.cell {
    background-color: var(--color2);
}

#chooseContainer, #nameContainer {
    width: 100vw;
    height: 100vh;
    background-color: rgba(52, 46, 46, 0.5);
    justify-content: center;
    align-items: center;
    position: fixed;
}

#chooseContainer {
    display: none;
}

#nameContainer {
    display: flex;
}

input {
    color: var(--color3);
    width: 100%;
    padding: 2vmin;
    border-radius: 3vmin;
    background-color: var(--color4);
    font-size: 3vmin;
    text-align: center;
    border: none;
    cursor: pointer;
}

::placeholder {
    color: var(--color5);
}

input:focus {
    outline: none;
    box-shadow: rgba(80, 46, 46, 0.1) 0px 4px 16px, rgba(72, 39, 39, 0.1) 0px 8px 24px, rgba(110, 55, 55, 0.1) 0px 16px 56px;
    transform: scale(1.1);
}

/* input hoover */

button {
    font-size: 3vmin;
    color: var(--color3);
    padding: 4% 10%;
    border: none;
    background-color: var(--color6);
    border-radius: 3vmin;
    box-shadow: rgba(26, 17, 17, 0.2) 0px 4px 16px, rgba(26, 17, 17, 0.2) 0px 8px 24px, rgba(26, 17, 17, 0.2) 0px 16px 56px;
    cursor: pointer;
}

#choose, #name {
    background-color: white;
    color: var(--color3);
    font-size: 3vmin;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    align-items: center;
    padding: 10%;
    border-radius: 10vmin;
    box-shadow: rgba(133, 56, 56, 0.25) 0px 50px 100px -20px, rgba(138, 61, 61, 0.3) 0px 30px 60px -30px, rgba(52, 25, 25, 0.35) 0px -2px 6px 0px inset;
}

.optionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color1);
}
